<!DOCTYPE html>
<html>
<head>
	<title>Sos computer academy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="404.css">
	<link rel="favicon" src="logo.png">
</head>
<body>
	<nav class="nav-main">
			<div class="nav">
				<div class="ico">
					<img src="png/logo.png">
				</div>
				<div class="nums d-flex flex-column  justify-content-center">
					<p class="nums-text" >+38005553535</p>
					<p class="nums-text" >+38005553535</p>
				</div>
				<button class="btn  call  my-auto mx-5 ">Заказать звонок</button>
				<ul class="d-flex justify-content-center ml-auto">
					<li>	
						<a class="nav-btn" href="#">Про академию</a>
					</li>
					<li>
						<a class="nav-btn" href="#">Курсы</a>
					</li>
					<li>		
						<a class="nav-btn" href="#">Контакты</a>
					</li>
					<li>
						<a class="nav-btn" href="#">Партнерам</a>
					</li>
					<li class="my-auto">
						<div class="rhombus my-auto mr-5">
							<div class="rhombus-content">
								<div class="burger">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
	</nav>
	<div class="container-fluid nothing">
		<div class="NaN">
			<img src="png/404.png" alt="0">
		</div>
		<h1 class="text-center">Что-то пошло не так, такой страницы не существует</h1>
		<br>
		<a class="btn btn-warning back mx-auto" href="index.html">На главную</a>	
	</div>

	<footer id="footer" class="footer d-flex align-items-center">
			<div class="container-fluid ">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<p class="copy-rights text-center m-0">
							Сос Компьютер 1999 - 2000
						</p>
					</div>
				</div>
			</div>
		</footer>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
