<!DOCTYPE html>
<html>
<head>
	<title>Sos computer academy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="adults.css">
	<link rel="favicon" src="png/logo.png">
</head>
<body>
	<nav class="nav-main">
			<div class="nav">
				<div class="ico">
					<a href="index.html">
						<img src="png/logo.png">
					</a>
				</div>
				<div class="nums d-flex flex-column  justify-content-center">
					<p class="nums-text" >+38005553535</p>
					<p class="nums-text" >+38005553535</p>
				</div>
				<button class="btn btn-warning call  my-auto mx-5 ">Заказать звонок</button>
				<ul class="d-flex justify-content-center ml-auto">
					<li>	
						<a class="nav-btn" href="#">Про академию</a>
					</li>
					<li>
						<a class="nav-btn" href="#">Курсы</a>
					</li>
					<li>		
						<a class="nav-btn" href="contacts.html">Контакты</a>
					</li>
					<li>
						<a class="nav-btn" href="#">Партнерам</a>
					</li>
					<li class="my-auto">
						<div class="rhombus my-auto mr-5">
							<div class="rhombus-content">
								<div class="burger">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
	</nav>
		<div class="container my-5">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<div class="monitor">
						<div class="monitor-2">
							<h2>Курсы для взрослых</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-center">18+</h1>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-xl-3 d-flex flex-column align-items-center p-5">
					<div class="rhombus rh-lg mb-5">
						<div class="rhombus-content rh-lg ">
							картинка
						</div>
					</div>
					<p class="t-orange">Веб-дизайн</p>
					<a href="">Смотреть программы</a>
					<ul class="progs-list">
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
					</ul>
				</div>
				<div class="col-xl-3 offset-xl-1 d-flex flex-column align-items-center p-5">
					<div class="rhombus rh-lg mb-5">
						<div class="rhombus-content rh-lg ">
							картинка
						</div>
					</div>
					<p class="t-orange">Программирование</p>
					<a href="">Смотреть программы</a>
					<ul class="progs-list">
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
					</ul>
				</div>
				<div class="col-xl-3 offset-xl-1 d-flex flex-column align-items-center p-5">
					<div class="rhombus rh-lg mb-5">
						<div class="rhombus-content">
							картинка
						</div>
					</div>
					<p class="t-orange">Маркетинг</p>
					<a class="" href="">Смотреть программы</a>
					<ul class="progs-list">
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
						<li class="progs-list__item">Lorem ipsum.</li>
					</ul>
				</div>				
			</div>
		</div>	
		<div class="container my-5">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<div class="monitor">
						<div class="monitor-2">
							<img src="png/monitor.png" alt="monitor" height="40px" width="40px">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-center">Стационар и онлайн обучение</h1>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-xl-3 d-flex flex-column align-items-center p-5">
					<div class="rhombus rh-lg mb-5">
						<div class="rhombus-content rh-lg ">
							картинка
						</div>
					</div>
					<p>Для детей и взрослых</p>
					<p class="t-orange">Стационар</p>
					<a href="">Смотреть офисы</a>
				</div>
				<div class="col-xl-3 offset-xl-2 d-flex flex-column align-items-center p-5">
					<div class="rhombus rh-lg mb-5">
						<div class="rhombus-content">
							картинка
						</div>
					</div>
					<p>Для детей и взрослых</p>
					<p class="t-orange" style="white-space: nowrap;">Репетитор онлайн</p>
					<a class="" href="">Смотреть курсы</a>
				</div>				
			</div>
		</div>	


		

		<div class="container my-5">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<div class="monitor">
						<div class="monitor-2">
							<img src="png/monitor.png" alt="monitor" height="40px" width="40px">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-center">Как записаться и учиться</h1>
				</div>
			<div class="row">
				<div class="col-lg-12 d-flex">
					<ol class="howto-list">
						<li class="howto-item">Определите интересное направление.</li>
						<li class="howto-item">Вы можете выбрать 1 из наших офиисов или взять себе личного педагога в скайпе.</li>
						<li class="howto-item">Свяжитесь с нами любым удобным способом.</li>
						<li class="howto-item">Успешно сдайте экзамены по теории и практиеке.</li>
						<li class="howto-item">получите сертишикат, сделайте свое портфолиоbr и начните поиск вакансии среди наших партнёров и в интрнете.</li>
					</ol>
					<div class="sert">
						<img class="sert-img1 img-responsive"src="png/sert1.png" alt="sert1">
						<img class="sert-img2 img-responsive"src="png/sert2.png" alt="sert2" height="210">
					</div>
				</div>	
				</div>
			</div>
		</div>	






		<div class="container mb-5">
			<div class="row flex-wrap-reverse">
				<div class="col-xl-4 offset-xl-1 d-sm-flex  justify-content-center justify-content-xl-start ">
					<img src="png/map.png" alt="карта">
				</div>
				<div class="col-xl">
					<address style="white-space: pre-wrap;">

				<h1>Контакты и расположение</h1>


					Вы можете связаться с нами
					по телефонам:<br>
					<span class="t-orange" style="font-size: 1em">095 - 462 - 46 - 72
			      		071 - 405 - 68 - 46<br></span>
					Почта:<br>
					sosc1996@mail.ru
					sosca172@gmail.com<br>
					Следите за нами в соцсетях: <br>



					<button class="btn btn-warning call">Заказать звонок</button>	
					</address>	
					
				</div>
			</div>
		</div>








		<footer id="footer" class="footer d-flex align-items-center">
			<div class="container-fluid ">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<p class="copy-rights text-center m-0">
							Сос Компьютер 1999 - 2000
						</p>
					</div>
				</div>
			</div>
		</footer>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
