<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Sos computer academy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'libs/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'png/logo.ico' %}">
</head>
<body>
	{% include 'navbar.html' %}
		<div class="container mb-5">
			<div class="row">
				<div class="col d-flex justify-content-center">
						<div class="title-2">
							<h2 class="title">Студия</h2>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-center t-orange mature">18+ лет</h1>
				</div>
				<div class="col-lg-12 d-flex justify-content-center">
					<img src="png/rhomb.png">
				</div>
			</div>
			
		</div>	
		<div class="container my-5">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<div class="title-2">
						<h2 class="title">Примеры</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="templete-person d-flex justify-content-center">
						<div class="person-pic">
							<img src="png/roman.png" alt="">
						</div>
						<div class="person-text">
							<p class="name">Роман Куликов</p>
							<p class="spec t-orange">Андроид разработка</p>			
							<a href="https://vk.com/r.kulykov" class="link">https://vk.com/r.kulykov</a>
							<p class="about">Роман всегда знал, что станет частью компьютерных технологи. Несмотря на определенную сложность своего направления, он справился и успешно работает со многими зарубежными студиями и на фрилансе.</p>
						</div>
					</div>
					<div class="templete-person d-flex justify-content-center">
						<div class="person-pic">
							<img src="png/serg.png" alt="">
						</div>
						<div class="person-text">
							<p class="name">Сергей Юрков</p>
							<p class="spec t-orange">Верстка. Вебдизайн. Java-script. Python.</p>	
							<a href="https://vk.com/wserw" class="link">https://vk.com/wserw</a>
							<p class="about"> Сергей изучил несколько направлений наших курсов. Его путь в мире IT занял почти 6 лет. И вот, сейчас он снова с нами, но уже в роли преподавателя. Вот такие истории успеха бывают в Сос Компьютер.</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container about-nums my-5">
			<div class="row justify-content-around">
				<div class="col-3-lg">
					<div class="num-block">
						<p class="num-plus">5200+</p>
						<p class="descript">Учеников<br>мы выпустили</p>
					</div>
				</div>
				<div class="col-3-lg">
					<div class="num-block">
						<p class="num-plus">3+</p>
						<p class="descript">Года средний<br>срок занятий</p>
					</div>
				</div>
				<div class="col-3-lg">
					<div class="num-block">
						<p class="num-plus">20+</p>
						<p class="descript">Лет опыта,<br>с 1999 года</p>
					</div>
			</div>
				<div class="col-3-lg">
					<div class="num-block">
						<p class="num-plus">19+</p>
						<p class="descript">Крупных<br>курсов доступно</p>
					</div>
				</div>
			</div>
		</div>		

		<div class="container my-5">
			<div class="row flex-wrap-reverse">
				<div class="col-xl-4 offset-xl-1 d-sm-flex  justify-content-center justify-content-xl-start ">
					<img src="png/map.png" alt="карта">
				</div>
				<div class="col-xl">
					<address style="white-space: pre-wrap;">

				<h1>Контакты и расположение</h1>


					Вы можете связаться с нами
					по телефонам:<br>
					<span class="t-orange" style="font-size: 1em">095 - 462 - 46 - 72
			      		071 - 405 - 68 - 46<br></span>
					Почта:<br>
					sosc1996@mail.ru
					sosca172@gmail.com<br>
					Следите за нами в соцсетях: <br>



					<button class="btn btn-warning call">Заказать звонок</button>	
					</address>	
					
				</div>
			</div>
		</div>








		<footer id="footer" class="footer d-flex align-items-center">
			<div class="container-fluid ">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<p class="copy-rights text-center m-0">
							Сос Компьютер 1999 - 2000
						</p>
					</div>
				</div>
			</div>
		</footer>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
